* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
ul {
  padding-left: 0px;
  margin: 0;
}
body {
  margin: 0 0;
}
.section-1 {
  background-image: url(./desk-header\ 1.png);
  padding-bottom: 170px;
  padding-top: 36px;
}
.container {
  width: 940px;
  margin: 0 auto;
  max-width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}
.reg-list {
  display: flex;
}
.reg-item:first-child {
  margin-right: 10px;
}
.reg-link {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}
.reg-link-1 {
  border: 2px #ffffff solid;
  padding: 11px 11px 11px 11px;
  border-radius: 50px;
}
.preview {
  margin-top: 134px;
  text-align: center;
}
.preview-title {
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 52px;
  line-height: 63px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 36px;
  display: inline-block;
  max-width: 600px;
}
.preview-text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 33px;
}
.preview-button {
  background-color: #ff4e50;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  border: none;
  padding: 13px 13px;
  border-radius: 50px;
  cursor: pointer;
  width: 228px;
  height: 43px;
}
.partners-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
  margin: 0;
}
.partners-list {
  display: flex;
  margin-top: 35px;
}
.partners-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}
.partners-item:last-child {
  margin-right: 0px;
}
.partners-name {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
  margin-bottom: 1px;
  margin-top: 13px;
}
.partners-text {
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin: 0;
}
.partners-photo {
  width: 120px;
  height: 120px;
  display: inline-block;
  position: relative;
}
.partners-photo-2 {
  width: 120px;
  height: 120px;
  display: inline-block;
  position: relative;
}
.partners-photo-3 {
  width: 120px;
  height: 120px;
  display: inline-block;
  position: relative;
}
.partners-photo-4 {
  width: 120px;
  height: 120px;
  display: inline-block;
  position: relative;
}

.partners-photo::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  border: 4px #ffffff solid;
  border-radius: 50%;
  background-color: #ff4e50;
  background-image: url(./Combined\ shape\ 77.png);
  background-repeat: no-repeat;
  background-position: center;
}
.partners-photo-2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  border: 4px #ffffff solid;
  border-radius: 50%;
  background-color: #1cd7ad;
  background-image: url(./Combined\ shape\ 106.png);
  background-repeat: no-repeat;
  background-position: center;
}
.partners-photo-3::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  border: 4px #ffffff solid;
  border-radius: 50%;
  background-color: #ffa507;
  background-image: url(./Combined\ shape\ 108.png);
  background-repeat: no-repeat;
  background-position: center;
}
.partners-photo-4::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  border: 4px #ffffff solid;
  border-radius: 50%;
  background-color: #4e73db;
  background-image: url(./Combined\ shape\ 110.png);
  background-repeat: no-repeat;
  background-position: center;
}
.main {
  margin-top: 65px;
}
.partners-button {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #ff4e50;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  padding: 13px 17px;
  border-radius: 35px;
  margin-top: 37px;
  cursor: pointer;
  width: 195px;
  height: 42px;
}
.partners {
  text-align: center;
}
@media screen and (maxwidth=768px) {
  .partners-button {
    background-color: black;
  }
}
